html {
  height: 100%;
  width: 100%;
  background-color: #1d292c;
}
body {
  margin: 0;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1d292c;
  font-family: Helvetica, arial, sans-serif;
  position: relative;
  width: 100%;

  -webkit-tap-highlight-color: transparent;
}

#application-canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#application-canvas.fill-mode-NONE {
  margin: auto;
}
#application-canvas.fill-mode-KEEP_ASPECT {
  width: 100%;
  height: auto;
  margin: 0;
}
#application-canvas.fill-mode-FILL_WINDOW {
  width: 100%;
  height: 100%;
  margin: 0;
}

canvas:focus {
  outline: none;
}

/* Disable text selection and blue highlight overlay on mobile devices */
* {
  -webkit-touch-callout: none; /* Prevents the iOS pop-up menu on long press */
  -webkit-user-select: none; /* Disable selection for Safari/iOS WebView */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and modern browsers */

  /* Remove the transparent blue tap highlight color specific to mobile WebKit */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Optional: If you have an input box for character names later, re-enable typing there */
input,
textarea {
  -webkit-user-select: text;
  user-select: text;
}
